@import '{}/imports/ui/stylesheets/utils.less';

.posts {
  box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  position: relative;

  .post-header {
    width: 100%;
    padding: (@padding-base/2) @padding-base;
    background-color: @color-ancillary;

    .avatar img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      float: left;
    }

    .user-info {
      font-weight: bolder;
      margin-left: 10px;
      //display: inline-block;

      a {
        color: wheat;
      }


      #date{
        font-family: 'Ubuntu', sans-serif;
        color: white;
        font-size: 10px;
      }
    }

    .delete-btn{
      background-color: #ff3333;
      padding: 2px;
      color: white;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 10px;
    }

  }

  .post-body{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    padding: @padding-base;
    color: black;
  }

  .text {
    white-space: pre-wrap;
  }

  .post-footer{
    width: 100%;
    padding: @padding-base;
    background-color: #e9ebee;
  }

  hr{
    border-top: 1px solid #ccc;
    margin-bottom: 8px;
  }
}
