@import '{}/imports/ui/stylesheets/utils.less';

#profile-page{
  position:relative;
  margin:10px;
  background-color: #476b6b;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);
  text-align: center;
  color: white;

  input {
    background-color: rgba(0,0,0,0);
    border: none;
    margin: 5px;
  }

  h3{
    font-family: 'Lobster', sans-serif;
    margin: 15px;
    font-size: 30px;
  }
  button {
    padding: 10px;
  }

  p{
    font-family: 'Roboto-Slab', sans-serif;
    font-size: 20px;
    padding: 5px;
a{
  text-decoration: none;
  color : white;
}

    input {
      text-align: center;
      width:auto;
    }
  }
}

#pic-label{
  padding:10px;
  background-color: green;
  color: white;
}
#pic-selector{

  opacity: 0;
  position: absolute;
     z-index: -1;
}

.profile-pic{
  border-radius: 50%;
  margin: 15px;
  max-height: 300px;
  max-width: 300px;
}
