@import '{}/imports/ui/stylesheets/utils.less';

@menu-width: 200px;

.taskForm, .eventForm, .postForm{
  display:none;
}

.tutor-dashboard {
  position: relative;
  overflow: auto;
  height:100%;
  button{
    margin: 5px;
  }

}
#map-picker{
  width: 500px;
  height: 400px;
}

.tutor-main{
  position:relative;
  right:auto;
  left:0;
  padding: 10px;
  overflow: auto;

  .button-group {
    margin:auto;
    left:0;
    right:0;
    position:relative;
    text-align: center;

    button {
      width: auto;
    }
  }

  form{
    background-color: #a3c2c2;
    margin:10px;
    border-radius: 3px;
    padding:15px;

    h4{
      padding:5px;
      font-family: 'Roboto Slab', serif;

      color: @color-ancillary;
    }

    div input{
      border-radius: 3px;
    }
    button{
      width:98%;
      background-color: @color-ancillary;
      color:white;
      font-family: 'Ubuntu', sans-serif;
    }
  }
}

.tutor-rightbar {
  padding: 10px;
  display: inline-block;
  -webkit-overflow-scrolling: touch;
  //position:fixed;
  left:auto;
  right:0;
  width: @menu-width;
  height: 100%;
  overflow: auto;

  div h3{
    text-align: center;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
    padding:2px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  div h4{
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
    font-weight: bold;
    padding:2px;
  }

  h5 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  //background-color: #ff8080;
}

::-webkit-scrollbar-thumb {
  //background-color: @color-material-red;   //#19194d
  opacity: 75%;
  border-radius: 2px;

}
