@import '{}/imports/ui/stylesheets/utils.less';


.post-box{
  padding:10px;
  background-color: @color-ancillary;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);

  .post-create {
    color: wheat;

    textarea, input {
      padding: 10px;
      font-size: 15px;
      font-family: 'Roboto Slab', serif;
      margin-bottom: 10px;
      border-radius: 3px;
      resize: none;
    }

    .icon-trash{
      padding-right: 5px;
    }
  }

  .custom-btn-success {
    background-color: #00b300;
  }

  .custom-btn-danger {
    background-color: #ff3333;
  }

  .custom-btn-success, .custom-btn-primary, .custom-btn-danger{
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Ubuntu', serif;
    margin: 5px;
  }
  .custom-btn-success {
    background-color: #00b300;
  }

  .icon-close{
    background-color: #ff3333;
    padding: 2px;
    border-radius: 50%;
    margin: auto;
    top:5px;
    bottom: 0;
    vertical-align: middle;
    color: white;
    position: relative;
    cursor: pointer;
  }

  .post-types{

    padding-left: 0;

    .row{
      width: 100%;
    }
    .submit {
      color: #532c5f;
      right: 0;
      position: relative;
      background-color: white;
      font-weight: bolder;
    }

  }

  .assignee-list {
    .item {
      line-height: 30px;
      label {
        margin: 0;
      }
    }
  }

  .rdt {
    color: #1f87c3;
  }
}
