@import '{}/imports/ui/stylesheets/utils.less';

.post {
  margin: 10px;
  background-color: #476b6b;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0, 0.5);

  a img{
      max-height:80px;
      border-radius: 50%;
      display: inline-block;
      position:relative;
      text-align: center;
      margin: auto;
      padding:3px;
    }


  a h4{
    display:inline-block;
    padding:3px;
    font-family: 'Roboto Slab', serif;
    color: black;
  }

  #postDate{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    display: block;
    font-size: 10px;
    padding-left:10px;
  }

  #postContent{
    padding:10px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 25px;
  }

  .btn{
    float:right;
    text-align: center;
    padding: 4px;
    padding-left: 0px;
  }


}
