@import '{}/imports/ui/stylesheets/utils.less';
.student {
  text-align: center;
  color: white;
  .student-image img {
    border-radius: 50%;
    margin-bottom: 5px;

  }

}
.profile-name{
  font-family: 'Roboto Slab', serif;
  color: white
}
.profile-school{
  font-family: 'Ubuntu', serif;
}

.tutortitle{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}

.studenttitle{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin:3px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
