@import '{}/imports/ui/stylesheets/utils.less';

.tasks
{
  border-style: double;
}
  .post-button {
    font-size: 10px;
    line-height: 20px;
    line-height: 20px !important;
    padding: 0.50em 0.50em;
    letter-spacing: .3em;
    text-indent: .3em;
    text-transform: uppercase;
    transition: all 200ms ease-in;
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
    background-color:#2cc5d2;

  }

  .close-button {
    font-size: 10px;
    line-height: 20px;
    line-height: 20px !important;
    letter-spacing: .3em;
    text-indent: .3em;
    text-transform: lowercase;
    transition: all 200ms ease-in;
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;
    background-color:#d13c2b
  }

  .instructions{
    font-weight: normal;
    font-variant: normal;
    font-stretch: normal;
    font-family: sans-serif;
    font-size: 14px;
  }

  .inlinetitle{
    font-weight: normal;
    font-family: fantasy;
    font-variant: small-caps;
    font-stretch: normal;
    font-kerning: auto;
  }
  .eventtitle{
    font-weight: 200;
    font-family: fantasy;
    font-variant: small-caps;
    font-stretch: ultra-condensed;    
    font-size: 25
  }
