.comment{
  padding:5px;
  position: relative;
  border-top: 1px solid #ddd;

  .comment-content{
    margin-left: 5px;
    font-size: 14px;
    color: black;
    display: inline;

    .commenter {
      color: @color-turquoise;
      font-weight: bold;
      display: inline-block;
      margin-top: 10px;
    }
    .comment-text {
      left: 5px;
      margin-right: 15px;
      margin-top: 6px;
      position: relative;
    }
  }

  .delete-btn {
    font-weight: bold;
    padding: 1px;
    cursor: pointer;
    position: absolute;
    right: 0;
    display: none;
    font-size: 0.8em;
    top: 15px;
  }

  &:hover .delete-btn {
    display: block;
  }

}
