.comment{
  padding:5px;
  position: relative;
  border-top: 1px solid #ddd;

  .comment-content{
    margin-left: 5px;
    font-size: 15px;
    color: black;
    display: inline;

    .commenter {
      color: #532c5f;
      float: left;
    }
    .commenter a {
      color: #532c5f;
      font-weight: bolder;
      margin-right: 5px;
    }
    .comment-text {
      left: 5px;
      position: relative;
    }
  }

  .delete-btn {
    font-weight: bold;
    padding: 1px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    display: none;
    font-size: 0.8em;
  }

  &:hover .delete-btn {
    display: block;
  }

}
