@import '{}/imports/ui/stylesheets/utils.less';


.group-new{
  background-color: white;;
  margin:10px;
  border-radius: 3px;
  padding:10px;
  padding-bottom: 5px;
  button{
    width:100%;
    background-color: @color-ancillary;
    margin-top: 10px;
    color:white;
    font-family: 'Ubuntu', sans-serif;
  }
  }
