.student-form {
  padding: 15px;
  margin: 10px 0;
  font-size: 14px;

  &:first-child {
    margin-top: 0;
  }

  .row {
    margin-bottom: 5px;
  }

  .form-control {
    border: 3px solid @color-turquoise;
    border-radius:3px;
    height: 34px;
  }

  .list-errors {
    .list-item {
      color: red;
    }
  }
}
